global
    maxconn     20000
    log         127.0.0.1 local0
    user        haproxy
    chroot      /usr/share/haproxy
    pidfile     /run/haproxy.pid
    daemon

defaults
  mode {{ haproxy_mode }}
  log global
  option httplog
  option dontlognull
  option http-server-close
  option redispatch
  option contstats
  retries 3
  backlog 10000
  timeout client 25s
  timeout connect 5s
  timeout server 25s 
  timeout http-request 15s
  timeout tunnel 3600s
  timeout http-keep-alive 1s
  timeout http-request 15s
  timeout queue 30s
  timeout tarpit 60s

{% for frontend in haproxy_front_ends %}

frontend {{ frontend.name }}
  bind {{ frontend.bind}}
{% if  frontend.log_sni is defined%}
  tcp-request content capture req.ssl_sni len 50
  log-format "capture0: %[capture.req.hdr(0)]"
{% endif %}
  default_backend {{ frontend.default_backend }}
{% if frontend.acl is defined%}
{% for acl in frontend.acl %}
  acl {{ acl }}
{% endfor %}
{%endif %}
{% if frontend.acl_use_backend is defined %}
{% for use_backend in frontend.acl_use_backend %}
  use_backend {{ use_backend}}
{% endfor %}
{%endif %}
{% if frontend.inspectdelay is defined %}
  tcp-request inspect-delay {{ frontend.inspectdelay }}
{%endif %}

{% endfor %}

{% for backend in haproxy_back_ends %}
backend {{ backend.name }}
{% for server in backend.servers %}
  server {{ server }}:{{backend.port}} check
{% endfor %}
{% endfor %}