[Unit]
Description=Weewx Weather Service

[Service]
Type=simple
User=weewx
Group=weewx
ExecStart=/home/weewx/bin/weewxd /home/weewx/weewx.conf

[Install] 
WantedBy=multi-user.target
