feeds:
  - url:  {{url}}
    download_path: {{download_path}}
server:
  host: localhost
  port: 8080
  rpc_path: /transmission/rpc

login:
  username: {{user}}
  password: {{password}}

seen_file: /home/torrent/.config/transmission/seen