#Main config
{
	admin off
{% if caddy_letsencrypt_staging == true %}
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
{% endif %}
}

{% for domain in caddy_domains %}
{{ domain.name }} {
	tls {
		key_type p384
        dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_API_SECRET_KEY}
		} 
	}
	log {
		output file /var/log/caddy/access.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 720h
		}
		format json
	}
	reverse_proxy {{ domain.reverse_proxy }} {
		transport http {
            tls
            tls_insecure_skip_verify
        }
{% if domain.health_uri is defined %}		
		health_uri {{ domain.health_uri }}
		health_port {{ domain.health_port }}
{% endif %}
		lb_policy cookie
    }
}

{% endfor %}

metrics.i.davenull.co.nz {
        metrics
        tls {
                key_type p384
        		dns porkbun {
					api_key {env.PORKBUN_API_KEY}
					api_secret_key {env.PORKBUN_API_SECRET_KEY}
				}
        }

}